body {
  background-color: #413F42;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "magic";
  src: url(../../fonts/HARRYP__.TTF);
}

header {
  background-image: url(..//images/HP1_Platform_nine_spread.jpg);
  height: 748px;
}

.header__title {
  font-size: 70px;
  font-family: "magic";
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "magic";
  src: url(../../fonts/HARRYP__.TTF);
}

.nav__menu ul li {
  padding-left: 7px;
}

.nav__menu ul li a {
  font-size: 40px;
  text-decoration: none;
  color: black;
  font-family: "magic";
}

@media only screen and (max-width: 450px) {
  /* header */
  header {
    background-image: url(./images/D3zRU.jpg);
    height: 380px;
  }
  .header__title {
    font-size: 50px;
  }
  .nav__menu ul li a {
    font-size: 28px;
  }
  /* main index */
  .main__container {
    margin-top: 30px;
  }
  .info__container p {
    font-size: 17px;
    padding-top: 10px;
  }
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
}

footer .social__media p {
  color: white;
}

footer .social__media a img {
  width: 55px;
  height: auto;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

main {
  padding-bottom: 20px;
  margin-top: 60px;
}

.carousel__info h5 {
  text-align: center;
  font-size: 45px;
  font-family: "magic";
}

.info__container {
  padding-top: 10px;
}

.info__container p {
  font-size: 22px;
  line-height: 1.4;
  font-family: "Koulen";
  color: black;
}

.books__title {
  text-align: center;
  font-family: "magic";
  color: black;
  font-size: 60px;
}

.book__container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
}

.book__img {
  width: 300px;
  height: auto;
  padding-top: 20px;
  display: block;
}

.book__text {
  width: 65%;
}

.book__text h2 {
  text-align: center;
  color: black;
  font-family: "magic";
  font-size: 48px;
}

.book__text p {
  font-size: 20px;
  padding-left: 20px;
  color: black;
  font-family: 'koulen';
}

.characters__title {
  text-align: center;
  font-family: "magic";
  color: black;
  font-size: 60px;
  padding-bottom: 15px;
  /* padding-top: 15px; */
  align-items: center;
}

.characters__container-card {
  border: 8px solid black;
}

.characters__container-card div h5 {
  font-family: "magic";
  font-size: 50px;
  text-align: center;
}

.characters__container-card div p {
  font-family: 'koulen';
  font-size: 20px;
  text-align: center;
}

.author__container {
  background-color: #dfdfde;
}

.author__img {
  padding-top: 100px;
}

.author__container-info h1 {
  font-family: "magic";
  font-size: 60px;
  text-align: center;
}

.author__container-info p {
  font-family: 'koulen';
  font-size: 20px;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 10px;
  justify-content: center;
  margin: auto;
  padding-top: 20px;
}

.grid__container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__title {
  text-align: center;
  font-family: "magic";
  color: black;
  font-size: 60px;
  padding-top: 20px;
}
/*# sourceMappingURL=style.css.map */