* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dfdfde;
}

/* /* header */
header {
  background: rgb(32, 83, 117);
  background: linear-gradient(
    21deg,
    rgba(32, 83, 117, 1) 35%,
    rgba(104, 167, 173, 1) 65%
  );
}

.header__title {
  font-size: 70px;
  font-family: "magic";
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "magic";
  src: url(./fonts/HARRYP__.TTF);
}

.nav__menu ul li {
  padding-left: 7px;
}
.nav__menu ul li a {
  font-size: 40px;
  text-decoration: none;
  color: black;
  font-family: "magic";
}

/* end header */

/* main index*/
main {
  padding-bottom: 20px;
}
.carousel__info h5 {
  text-align: center;
  font-size: 45px;
  font-family: "magic";
}
.info__container {
  padding-top: 10px;
}

.info__container p {
  font-size: 22px;
  line-height: 1.4;
  font-family: "Koulen";
}

/* end main index */

/* footer */
footer {
  background: rgb(32, 83, 117);
  background: linear-gradient(
    21deg,
    rgba(32, 83, 117, 1) 35%,
    rgba(104, 167, 173, 1) 65%
  );
  display: flex;
  justify-content: center;
}

.social__media a img {
  width: 55px;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* end footer */

/* main books */
.books__container {
  background-color: #8d8daa;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 25px;
}

.books__containerinfo {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.books__containerinfo p {
  font-size: 25px;
  padding-left: 12px;
  font-family: 'Koulen';
 }

.books__containerinfo img {
  width: 100px;
  height: auto;
  padding-left: 10px;
  
}
/* end main books */

/* characters */
.characters__container {
  background-color: #8d8daa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.characters__containerinfo img {
  width: 120px;
  height: auto;
}
/* end characters */

/* author */
.author__container {
  background-color: #8d8daa;
  margin-top: 5px;
}

.author__containerinfo {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
}

.author__containerinfo img {
  width: 400px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.author__containerinfo p {
  width: 65%;
  font-family: "Roboto Condensed", sans-serif;
}
/* end author */

/* media queries */
@media only screen and (max-width: 450px) {
  /* header */
  .header__title{
    font-size: 55px;
    padding-left: 18px;
  }
  .nav__menu ul li a{
    font-size: 28px;
  }
  /* main index */
  .info__container p{
    font-size: 20px;
  }
  /* books */
  .books__containerinfo img {
    width: 99px;
    height: 130px;
    padding-top: 12px;
    padding-right: 8px;
  }

  .books__containerinfo p {
    font-size: 17px;
    padding-left: 5px;
  }
}
