.author__container {
  background-color: #dfdfde;
}

.author__img {
  padding-top: 100px;
}

.author__container-info h1 {
  font-family: "magic";
  font-size: 60px;
  text-align: center;
}

.author__container-info p {
  font-family: 'koulen';
  font-size: 20px;
}