.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 10px;
    justify-content: center;
    margin: auto;
    padding-top: 20px;

}

.grid__container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.gallery__title {
    text-align: center;
    font-family: "magic";
    color: black;
    font-size: 60px;
    padding-top: 20px;
  }
