.header__index {
  background-image: url(..//images/HP1_Platform_nine_spread.jpg);
  height: 748px;

  .nav__menu {
    ul {
      li {
        padding-left: 7px;

        a {
          font-size: 40px;
          text-decoration: none;
          color: $color-text;
          font-family: "magic";
        }
      }
    }
  }
}

header {
  background-color: #932B77;

  .nav__menu {
    ul {
      li {
        padding-left: 7px;

        a {
          font-size: 40px;
          text-decoration: none;
          color: $color-text;
          font-family: "magic";
        }
      }
    }
  }

  .header__title {
    font-size: 70px;
    font-family: "magic";
    text-decoration: none;
    color: $color-text;
  }

}


@font-face {
  font-family: "magic";
  src: url(../../fonts/HARRYP__.TTF);
}


@media only screen and (max-width: 450px) {

  /* header */
  .header__index {
    background-image: url(../../images/D3zRU.jpg);
    height: 380px;

    .header__title {
      font-size: 50px;
    }

    .nav__menu {
      ul {
        li {
          a {
            font-size: 28px;
          }
        }
      }
    }

  }

  header {
    .header__title {
      font-size: 50px;
    }

    .nav__menu {
      ul {
        li {
          a {
            font-size: 28px;
          }
        }
      }
    }
  }
}