@font-face {
  font-family: "magic";
  src: url(../../fonts/HARRYP__.TTF);
}

main {
  padding-bottom: 20px;
  margin-top: 60px;

  .carousel__info {
    h5 {
      text-align: $center-text;
      font-size: 45px;
      font-family: "magic";
    }
  }


  .info__container {
    padding-top: 10px;

    p {
      font-size: $text-size;
      line-height: 1.4;
      font-family: $text-family;
      color: $color-text;
    }
  }


  @media only screen and (max-width: 450px) {
    .main__container {
      margin-top: 30px;
    }

    .info__container p {
      font-size: 17px;
      padding-top: 10px;
    }
  }
}